// -*- mode: jsonc -*-

{
    "layer": "top",
    "height": 16,

    "margin-top": 2,
    "margin-bottom": -4,
    "margin-left": 0,
    "margin-right": 0,

    "include": [
        "~/.config/waybar/modules.json"
    ],

    "modules/left": [
    ],
    "modules-center": [
        "hyprland/workspaces"
    ],
    "modules-right": [
        "pulseaudio",
        "battery",
        "group/hardware",
        "network",
        "clock",
        "custom/exit"
    ],

    "group/hardware": {
        "orientation": "horizontal",
        "modules": [
            "disk",
            "cpu",
            "memory"
        ]
    }
}